---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import Card from "../components/Card.astro";
import Count from "../components/Count";
import { getCollection } from "astro:content";

const newsLetter = await getCollection("newsletter");
const posts = await getCollection("posts");

const data = [
  {
    tier: "Novice",
    price: 4.99,
    description: "Novice tier",
  },
  {
    tier: "Medium",
    price: 7.0,
    description: "Medium tier",
  },
  {
    tier: "Advance",
    price: 12.0,
    description: "Advance tier",
  },
];
---

<BaseLayout pageTitle="Home">
  <Navigation />
  <h1 class="font-bold">My astro site</h1>
  <section>
    <!-- <div style="height:2400px; border:1px solid red"></div> -->
    <p>Content collection - data type</p>
    <ul>
      {
        newsLetter.map((letter) => (
          <li>{letter.data.title}</li>
        ))
      }
    </ul>
    <p>Content collection - content type</p>

    {
      posts.map((post) => (
        <details>
          <summary>{post.data.title}</summary>
          <div>
            <p>Author: {post.data.author}</p>
            <p>{post.body}</p>
          </div>
        </details>
      ))
    }

    <Count client:idle />
    {
      data.map((card) => (
        <Card
          tier={card.tier}
          description={card.description}
          price={card.price}
        />
      ))
    }
  </section>
</BaseLayout>
