---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import Card from "../components/Card.astro";
import Count from "../components/Count";
import {
  getCollection,
  getEntry,
  type CollectionEntry,
} from "astro:content";

const newsLetter = await getCollection("newsletter");
const posts = await getCollection("posts");
console.log(posts);

const post1: CollectionEntry<"posts"> = await getEntry(
  "posts",
  "post-1"
);
const { Content } = await post1.render();

const data = [
  {
    tier: "Novice",
    price: 4.99,
    description: "Novice tier",
  },
  {
    tier: "Medium",
    price: 7.0,
    description: "Medium tier",
  },
  {
    tier: "Advance",
    price: 12.0,
    description: "Advance tier",
  },
];
---

<BaseLayout pageTitle="Home">
  <Navigation />
  <div class="container mx-auto">
    <h1 class="font-bold">Astro intro</h1>
    <section>
      <!-- <div style="height:2400px; border:1px solid red"></div> -->
      <p>Single entry with semantic MD</p>
      <Content />
      <p>Content collection - data type</p>
      <ul>
        {
          newsLetter.map((letter) => (
            <li>
              {letter.data.title} - {letter.data.role}
            </li>
          ))
        }
      </ul>
      <p>Content collection - content type</p>

      {
        posts.map((post) => (
          <details>
            <summary>{post.data.title}</summary>
            <div>
              <p>Author: {post.data.author}</p>
              <p>{post.body}</p>
            </div>
          </details>
        ))
      }

      <Count client:idle />
      {
        data.map((card) => (
          <Card
            tier={card.tier}
            description={card.description}
            price={card.price}
          />
        ))
      }
    </section>
  </div>
</BaseLayout>
